// Main css file, get rocking 
@import "bower_components/foundation-apps/scss/foundation"
@import "nprogress"

#main
  padding-top: 30px
span.movie-type
  float: right
  text-transform: uppercase
.block-list li p
  margin-bottom: 0