// The complete details of the movie
section.grid-content
  .card(ng-if='data.Title')
    .card-section
      h2 {{ data.Title }}
      span.movie-type.label(ng-class='data.Type == "movie"? "success" : "warning"') {{ data.Type }}
      h4(ng-if='data.Released != "N/A"') {{ data.Released }}
    div(ng-if='data.Plot != "N/A"')
      .card-divider Plot
      .card-section
        p {{ data.Plot }}
    div(ng-if='data.Actors != "N/A"')
      .card-divider Cast
      .card-section
        p {{ data.Actors }}

