.grid-block.small-12.medium-4.vertical(ng-controller='ListCtrl')
  .grid-content.shrink.search-section
    label Search
      span.inline-label
        input(type='search' placeholder='Search for title' ng-model='data.searchText')
        a(ng-click='search()').button Search
  .grid-content
    section.block-list
      header(ng-show='results.length') Results
      li(ng-repeat='movie in results')
        a(ng-click='goToDetails(movie.imdbID)')
          small {{ movie.Year }}
          p {{ movie.Title }}

.grid-block.medium-8.hide-for-small-only
  ui-view(name='sub')
//
  section.grid-content.small-12.medium-4(ng-controller='ListCtrl')
    ul.block-list
      li
        label Search
          span.inline-label
            input(type='search' placeholder='Search for title' ng-model='data.searchText')
            a(ng-click='search()').button Search
//ui-view.medium-8.hide-for-small-only(name='sub')
