doctype html
html(ng-app='app')
  head
    meta(charset='utf-8')
    link(href='css/style.css' rel='stylesheet')
    script(src='js/completeApp.min.js')

  body
    .grid-frame.vertical(ng-controller='TitleCtrl')
      nav.secondary.title-bar
        .center.title IMDB Web app
        span.left(ng-show='showBackButton()')
          a(ui-sref='home') Back
      main.grid-block(id='main' ui-view='home' ng-show="checkState('home')")
      ui-view(ng-show="checkState('details')")
      footer.grid-block.shrink
        .grid-content
          p.text-center built by&nbsp
            a(href='https://github.com/bassoGeorge' target='_blank') Anish George
