doctype html
html
  head
    meta(charset='utf-8')
    link(href='css/style.css' rel='stylesheet')
    script(src='js/completeApp.min.js')

  body
    .grid-frame.vertical
      nav.primary.title-bar
        .center.title IMDB Web app
